@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
}

h1 {
    margin-left: 3px;
    color: white;
}

.icon {
    text-align: center;
}

span {
    color: white;
    margin-top: 30%;
    cursor: pointer;
}

#countdown {
    text-align: center;
    font-size: 3em;
    color: white;
    margin: 50px 0;
}

#countdown-number {
    font-weight: bold;
}