@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#countdown {
    text-align: center;
    font-size: 3em;
    color: black;
    margin: 50px 0;
}

#countdown-number {
    font-weight: bold;
}